<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<Resources ignore="true">
			<GPIO comment="Contains GPIO related stuff."></GPIO>
		</Resources>
	</Paths>
	<Identifiers>
		<ServoController>servo_controller</ServoController>
	</Identifiers>
	<Consts>
		<I2CReadDelay comment="Default I2C delay before trying to retrieve data." type="int">16000</I2CReadDelay>
		<I2CDefaultPort comment="Default I2C port" type="int">4</I2CDefaultPort>
		<I2CDefaultBus comment="Default I2C bus" type="int">1</I2CDefaultBus>
		<ArduinoSerialConnectorPackageHeader comment="Package headers expected from serial device">F0,0F,F1</ArduinoSerialConnectorPackageHeader>
		<ArduinoSerialConnectorTimeout comment="Default connect/read/write timeout for serial connections. Should be high if RF24 communication is enabled." type="int">16000</ArduinoSerialConnectorTimeout>
		<ArduinoSerialConnectorBaudRate comment="Default baud rate" type="int">9600</ArduinoSerialConnectorBaudRate>
		<TCPSerialConnectionDefaultPort type="int" comment="The default TCP port for TCPSerialConnection">9696</TCPSerialConnectionDefaultPort>
        <TCPSerialConnectionTimeout type="int" comment="The default communication timeout TCPSerialConnection">5000</TCPSerialConnectionTimeout>
        
        <SerialNodeUpdateTime comment="Default synchronization interval (in seconds) for sleeping SerialHosts." type="int">3600</SerialNodeUpdateTime>
		<SerialNodeIdPrefix comment="Used by SerialNode as a prefix to the device id (following the IDevice implementation, requiring an Identifier)">serial_node_</SerialNodeIdPrefix>
		<SerialNodePauseSleepInterval comment="Default interval for a sleeping node to pause it's sleeping. Should be enough to allow multiple requests to the node." type="int">20</SerialNodePauseSleepInterval>
	</Consts>
</Configuration>
