<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<Resources ignore="true">
			<GPIO comment="Contains GPIO related stuff."></GPIO>
		</Resources>
	</Paths>
	<Identifiers>
		<ServoController>servo_controller</ServoController>
	</Identifiers>
	<Consts>
		<I2CReadDelay comment="Default I2C delay before trying to retrieve data." type="int">100</I2CReadDelay>
		<I2CDefaultPort comment="Default I2C port" type="int">4</I2CDefaultPort>
		<I2CDefaultBus comment="Default I2C bus" type="int">1</I2CDefaultBus>
	</Consts>
</Configuration>
