<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<Resources ignore="true">
			<GPIO comment="Contains GPIO related stuff."></GPIO>
		</Resources>
	</Paths>
	<Identifiers>
		<IoFactory>io_factory</IoFactory>
		<ServoController>servo_controller</ServoController>
	</Identifiers>
	<Consts>
	</Consts>
</Configuration>
