<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<Resources ignore="true">
			<Scripts comment="contains various types of runtime scripts">
				<Python comment="Here be all Python script files.">
					<PythonSetup comment="Here be python setup files."/>
				</Python>
				<PythonImport />
				<Shell/>
			</Scripts>
		</Resources>
	</Paths>
	<Identifiers>
		<PythonScriptFactory comment="Responsible for creating new python scripts">python_script_factory</PythonScriptFactory>
		<LuaScriptFactory comment="Responsible for creating new lua scripts">lua_script_factory</LuaScriptFactory>
		<RunLoopScript comment="the id of the script running the show (probably used by the run_loop to interpret stuff).">run_loop_script</RunLoopScript>
	</Identifiers>
	<Consts>
		<PythonPaths comment="Paths to Python binaries (using ´;´ separation)">/usr/lib/python2.7/dist-packages;/usr/lib/python2.7</PythonPaths>
	</Consts>
</Configuration>
