<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<Resources ignore="true">
			<Audio/>
			<Language>
				<hub4wsj_sc_8k/>
				<chomskyAIML/>
				<chatbot/>
				<aimlConfig/>
			</Language>
		</Resources>
	</Paths>
	<Identifiers>
	</Identifiers>	
	<Consts>
		<AudioFileExtension comment="Extension for audio files">*.mp3</AudioFileExtension>
	</Consts>

</Configuration>
