<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<Resources ignore="true">
			<Cert comment="contains ceritificates used for push notifications."/>
		</Resources>
	</Paths>
	<Identifiers>
		<PushFactory>push_factory</PushFactory>
		<PushProxy>push_proxy</PushProxy>
		<PushStorage>push_storage</PushStorage>
		<PushAppleFacade>push_apple</PushAppleFacade>
		<PushLogger>push_logger</PushLogger>
		<PushAndroidFacade>push_android</PushAndroidFacade>
	</Identifiers>
	<Consts>

	</Consts>
</Configuration>
