<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<HaarCascades relative="./r2Project/Common/Video/Haar"/>
	</Paths>
	<Identifiers>
		<VideoFactory>video_factory</VideoFactory>
	</Identifiers>
	<Consts>
		<DefaultVideoPort type="int" comment="Default port for video server">4444</DefaultVideoPort>
	</Consts>
</Configuration>
