<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<r2ProjectDirectory relative="./r2Project" comment="r2 Project main directory.">
			<Lib comment="Contails compiled dynamic libraries."/>
		</r2ProjectDirectory>

		<Common relative="./r2Project/Common" comment="Shared project resources path."/>
		<TestData relative="./r2Project/TestData" comment="Contains resource files for tests."/>
		<Resources comment="Resource base path." relative="./Resources">
			<Video></Video>
			
			<Audio/>
			<Vision include="false"></Vision>
		</Resources>
	</Paths>
	<Identifiers>
		<Core>core</Core>
		<DeviceManager comment="Keeps track of all IDevice implementations.">device_manager</DeviceManager>
		<HostSynchronizer comment="Connects and synchronizes devices through broadcasts and manual connections.">host_synchronizer</HostSynchronizer>
		<HttpServer comment="Default HTTP server">http_server</HttpServer>
		<Serializer comment="Used to serialize and deserialize data packages">data_serializer</Serializer>
		<DeviceFactory comment="default factory instance for general devices">device_factory</DeviceFactory>
		<TaskMonitor comment="keeps track of all running processes">task_monitor</TaskMonitor>
		<Logger comment="Main logging interface">log</Logger>
		<FileLogger comment="log to file">file_logger</FileLogger>
		<ConsoleLogger>console_logger</ConsoleLogger>
		<WebFactory>web_factory</WebFactory>
		<TcpServer comment="TCP connections be here.">tcp_server</TcpServer>
		<UdpServer comment="Handling broadcast messages">udp_server</UdpServer>
		<UdpBroadcaster comment="Sending broadcast messages">udp_broadcaster</UdpBroadcaster>
		<IoFactory comment="IO factory factory, responsible for creating IO factories.">io_factory</IoFactory>
		<PingService comment="The name of all PingService instances.">ping_service</PingService>
		<ConnectionPoller comment="The name of all ConnectionPoller instances.">connection_poller</ConnectionPoller>
		<ObjectInvoker comment="The name of all ObjectInvoker instances.">object_invoker</ObjectInvoker>
		<Identity comment="The name of the Identity instance.">identity</Identity>
		<TCPRouterEndpoint comment="The specialized endpoint handling TCP Routing">tcp_router_endpoint</TCPRouterEndpoint>
	</Identifiers>
	<Consts>
		<FileLoggerDefaultFile comment="The default file logger output file">test_output.txt</FileLoggerDefaultFile>
		<MaxConsoleHistory type="int">200</MaxConsoleHistory>
		<DefaultHttpPort type="int" comment="Default port for http server">10000</DefaultHttpPort>
		<BroadcastInterval type="int" comment="Default periodical broadcast interval for devices that broadcasts stuff">120000</BroadcastInterval>
		<DefaultTcpPort type="int" comment="default TCP port">4245</DefaultTcpPort>
		<DefaultBroadcastPort type="int" comment="the port used by the host manager to broadcast">9050</DefaultBroadcastPort>
		<DeviceDestination comment="Used by various components (i.e. HostSynchronizer) for device synchronization.">/devices</DeviceDestination>
		<PingDestination comment="Used as destination for TCP ping messages">/ping</PingDestination>
		<HttpServerHeaderMethodKey comment="Perserve the HTTP method data in the INetworkMessage Header">HttpServerHeader-Method</HttpServerHeaderMethodKey>
		<ConnectionRouterAddHostDestination comment="INetworkMessage.Destination for attaching a TCPClientServer">/routing</ConnectionRouterAddHostDestination>
		<ConnectionRouterHeaderHostNameKey comment="Network message header key for identifying hosts">ConnectionRouterHeader-HostName</ConnectionRouterHeaderHostNameKey>
		<ConnectionRouterHeaderServerTypeKey comment="Network message header key to identify remote server type (TCP, HTTP etc)">ConnectionRouterHeader-ServerType</ConnectionRouterHeaderServerTypeKey>
		<ConnectionRouterHeaderClientAddressKey comment="Network message header key representing the original address of a request">ConnectionRouterHeader-Address</ConnectionRouterHeaderClientAddressKey>
		<ConnectionRouterHeaderClientPortKey comment="Network message header key representing the original port of a request">ConnectionRouterHeader-Port</ConnectionRouterHeaderClientPortKey>
		<ConnectionRouterHeaderServerTypeHTTP comment="Network message header value representing a target HTTP server">HTTP</ConnectionRouterHeaderServerTypeHTTP>
		<ConnectionRouterHeaderServerTypeTCP comment="Network message header value representing a target TCP server">TCP</ConnectionRouterHeaderServerTypeTCP>
		<ConnectionRouterHeaderServerTypeUDP comment="Network message header value representing a target UDP server">UDP</ConnectionRouterHeaderServerTypeUDP>
		<StacktraceOmittions comment="This weird property can contain a list semicolon separated of strings that should be omitted from stacktrace. Usable for setting Log.StacktraceOmittions">Microsoft.Scripting;IronPython.Compiler;IronPython.Runtime;System.Dynamic.UpdateDelegates;(wrapper dynamic-method)</StacktraceOmittions>
	</Consts>
</Configuration>
