<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<Resources ignore="true">
			<Databases comment="contains all database files for the clients"/>
		</Resources>
	</Paths>
	<Identifiers>
	    <Memory comment="Interface for retrieving memories">memory</Memory>
        <MemoryBus comment="communicates memories">membus</MemoryBus>
        <RunLoop comment="The object representing the run loop.">run_loop</RunLoop>
        <Database>sqlite_database</Database>
        <DataFactory comment="Generic factory for... data stuff...">data_factory</DataFactory>	
    </Identifiers>
	<Consts>
		<PythonPaths comment="Paths to Python binaries (using ´;´ separation)">/usr/lib/python2.7/dist-packages;/usr/lib/python2.7</PythonPaths>
	</Consts>
</Configuration>
